<form class="row g-3 mt-3" action="/expense-tracker/{{ record._id }}?_method=PUT" method="POST">
  <ul class="list-group col-md-6 m-auto">
    <div>
      <h5 class="m-2">*必填欄位</h5>
      <h2 class="text-center">請修改你的支出</h2>
    </div>
    <li class="list-group-item">
      <div class="row">
        <label for="name" class="col-sm-2 col-form-label">名稱*：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" value="{{record.name}}" required>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <label for="date" class="col-sm-2 col-form-label">日期*：</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" name="date" value="{{record.date}}" required>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="dropdown d-flex">
        <label for="category" class="col-sm-2 col-form-label">類別*：</label>
        <select class="form-select p-2 flex-grow-1" aria-label="inputCategory" name="category" id="category" value="{{record.catogoryId}}"
          required>
          <option selected disabled value="">選擇類別</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <label for="amount" class="col-sm-2 col-form-label">金額*：</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="amount" name="amount" placeholder="請輸入數字..." value="{{record.amount}}" required>
        </div>
      </div>
    </li>
    <button class="btn btn-success mb-3 col-md-4 m-auto" type="submit">送出修改</button>
  </ul>
</form>