{{!-- 拿到 todos --}}

<ul class="list-group col-md-6 m-auto p-2">
  <div class="dropdown d-flex flex-row-reverse pe-3">
    <button class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      選擇類別
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">家居物業</a></li>
      <li><a class="dropdown-item" href="#">交通出行</a></li>
      <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="#">餐飲食品</a></li>
      <li><a class="dropdown-item" href="#">其他</a></li>
    </ul>
  </div>

  <div>
    <h1>總金額：</h1>
    <h1 id="totalAmount" name="totalAmount" style="font-size:100px;" class="text-center">1000</h1>
  </div>

  {{#each data}}
  <li class="list-group-item">

    <div class="d-flex justify-content-between">

      <div class="block1 d-flex">
        <div>
          <i class="fas fa-utensils m-1" style="font-size: 40px;color:rgb(0, 213, 255);"></i>
        </div>
        <div>
          <h4 class="mb-0">{{this.name}}</h4>
          <span>
            <small>{{this.date}}</small>
          </span>
        </div>
      </div>
      <div>
        <h2>
          {{ this.amount }}
        </h2>
      </div>

      <div>
        <a class="btn btn-success" href="./todos/{{ this._id }}/edit">修改</a>
        <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<div class="row mt-3">
  <a href="/expense-tracker/new" class="btn btn-primary mb-3 col-md-4 m-auto">新增支出</a>
</div>